{% trans_default_domain 'websiteBundle' %}

<section class="position-relative h-100">
	<div class="position-absolute w-100 h-50 bg-dark bottom-0"></div>
	<div class="container zindex-3" style="z-index: 999">
		<div class="d-flex justify-content-center" style="z-index: 999">
			<div class="w-75 bg-dark shadow-lg p-5 rounded-3" style="z-index: 999;">
				<div class="d-flex flex-md-row flex-column justiy-content-around align-items-center">
					<div class="me-md-5 me-0">
						<div class="hero-fade-element text-white animate__animated animate__flipInX">Direkt loselegen<span class="text-primary">?</span></div>
						<div class="strip bg-primary w-100 py-1 animate__animated animate__flipInX animate__delay-1s"> </div>
					</div>
					<div class="text-end">
						<strong class="text-white">Entdecke noch heute die benutzerfreundlichste Software für Handwerksbetriebe!</strong>
						<p>DigiConstruct unterstützt Dich dabei, Deinen Arbeitsalltag effizienter zu gestalten. Buche jetzt eine persönliche Produktdemo mit einem unserer Experten und überzeuge Dich selbst von den Vorteilen.</p>

						{% include '@Website/components/cta-button.html.twig' with {
							orientation: 'end',
							subline: 'text-white'
						} %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="bg-dark py-5 position-relative">
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<img src="{{ absolute_url(asset('bundles/website/assets/images/dc-short-bicolor.png')) }}" title="DigiConstruct Logo" alt="DigiConstruct Logo" class="img-fluid" style="max-width: 100px;" />
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary">© {{ "now"|date('Y') }} DigiConstruct ist eine Marke von <a href="#">BYTES Commerce UG (haftungsbeschränkt)</a> und <a href="#">M.H. Preis GmbH</a></span>
			</div>

			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
				<li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
				<li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
			</ul>
		</footer>
	</div>
</div>
