<div class="d-flex justify-content-{{ orientation|default('start') }} align-items-center">
	<div class="d-flex justify-content-center align-items-center flex-column">
		<a href="#" class="btn btn-lg btn-primary shadow-primary py-3 px-5 fs-3 mb-2">Jetzt anfragen</a>
		<small class="{{ subline|default('text-dark') }} text-opacity-75">Kostenlos & unverbindlich</small>
	</div>
</div>
