{% trans_default_domain 'websiteBundle' %}

{% set features = [
	{
		"title": "web.digiconstruct.features.feature1.title"|trans,
		"description": "web.digiconstruct.features.feature1.description"|trans,
		"image": "svg/clock-time-watch.svg"
	},
	{
		"title": "web.digiconstruct.features.feature2.title"|trans,
		"description": "web.digiconstruct.features.feature2.description"|trans,
		"image": "svg/maps-and-flags-monitor.svg"
	},
	{
		"title": "web.digiconstruct.features.feature3.title"|trans,
		"description": "web.digiconstruct.features.feature3.description"|trans,
		"image": "svg/construction-engineer-hard.svg"
	},
	{
		"title": "web.digiconstruct.features.feature4.title"|trans,
		"description": "web.digiconstruct.features.feature4.description"|trans,
		"image": "svg/weekly-calendar-monthly-calendar.svg"
	},
	{
		"title": "web.digiconstruct.features.feature5.title"|trans,
		"description": "web.digiconstruct.features.feature5.description"|trans,
		"image": "svg/wholesale.svg"
	},
	{
		"title": "web.digiconstruct.features.feature6.title"|trans,
		"description": "web.digiconstruct.features.feature6.description"|trans,
		"image": "svg/business-global-globe.svg"
	},
	{
		"title": "web.digiconstruct.features.feature7.title"|trans,
		"description": "web.digiconstruct.features.feature7.description"|trans,
		"image": "svg/bobcat-bulldozer-construction.svg"
	},
	{
		"title": "web.digiconstruct.features.feature8.title"|trans,
		"description": "web.digiconstruct.features.feature8.description"|trans,
		"image": "svg/storehouse-supply.svg"
	},
	{
		"title": "web.digiconstruct.features.feature9.title"|trans,
		"description": "web.digiconstruct.features.feature9.description"|trans,
		"image": "svg/maintenance-mechanic-repair.svg"
	},
	{
		"title": "web.digiconstruct.features.feature10.title"|trans,
		"description": "web.digiconstruct.features.feature10.description"|trans,
		"image": "svg/building-construction-crane.svg"
	}
] %}


<section class="slider-section my-5">
	<div class="container">
		<div class="swiper my-5">
			<div class="swiper-wrapper py-5">
				{% for item in features %}
					<div class="swiper-slide">
						<div class="card shadow-sm h-100">
							<div class="card-header">
								<div class="card-header-icon">
									<div class="w-100" style="max-width: fit-content; ">
										{{ source('@Website/' ~ item.image) }}
									</div>
								</div>
							</div>
							<div class="card-body h-100">
								<h3 class="card-title">{{ item.title }}</h3>
								<p class="card-text">{{ item.description }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="position-relative d-flex justify-content-center align-items-center">
				<div class="swiper-button-prev position-relative me-5 bg-primary text-white rounded-5 p-5"></div>
				<div class="swiper-button-next position-relative"></div>
			</div>
			<div class="swiper-pagination"></div>

		</div>
	</div>
</section>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        new Swiper(".slider-section .swiper", {
            slidesPerView: 1,
            spaceBetween: 45,
            centeredSlides: true,
            centeredSlidesBounds: true,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 5,
                    spaceBetween: 50,
                },
            },
        });
    });
</script>
