{% trans_default_domain 'websiteBundle' %}

<!-- https://unsplash.com/de/fotos/konstruktionsrahmen-P_qvsF7Yodw -->
<!-- https://unsplash.com/de/fotos/konstruktionsrahmen-P_qvsF7Yodw -->
<section class="jarallax" data-jarallax data-speed="0.4" data-bs-theme="dark">
	<span class="position-absolute top-0 start-0 w-100 h-100 gradiant-bg" style=""></span>
	<div class="jarallax-img" style="opacity: 0.25; background-position: center center; background-size: cover; background-image: url({{ absolute_url(asset('bundles/website/assets/images/hero-image-2.jpg')) }});"></div>

	<div class="d-flex flex-column py-5">
		<div class="container position-relative zindex-5 py-5 my-5">
			<div class="row my-5">
				<div class="col-md-6 mx-auto d-flex justify-content-center align-items-center align-items-md-start flex-column">
					<h1 class="display-1 text-white opacity-75 fs-2 text-dark text-opacity-75"><strong>30-50%</strong> höhere Effizienz</h1>
					<div class="d-flex justify-content-start align-items-center align-items-md-start flex-column w-100">
						<div class="d-flex justify-content-start align-items-center flex-column flex-md-row">
							<div class="text-white me-2 animate__animated animate__zoomInUp hero-fade-element text-dark">EINFACH.</div>
							<div class="text-white animate__animated animate__zoomInUp animate__delay-1s hero-fade-element text-dark">DIGITAL.</div>
						</div>
						<div class="text-white animate__animated animate__zoomInUp animate__delay-2s hero-fade-element text-dark">ARBEITEN.</div>
					</div>

					<p class="fs-3 text-dark text-opacity-75" style="max-width: 36.5rem;">
						In Zusammenarbeit mit Branchenführern haben wir die umfangreichste Software für die Digitalisierung von Bauhaupt- und Nebengewerbe entwickelt.
					</p>

					<ul class="list-unstyled d-flex align-items-start justify-content-start flex-wrap text-nowrap">
						<li class="d-flex align-items-center text-dark text-opacity-75 me-3">
							<i class="bi bi-check-circle me-2 fs-5 text-primary"></i>
							Baustellendokumentation
						</li>
						<li class="d-flex align-items-center text-dark text-opacity-75 me-3">
							<i class="bi bi-check-circle me-2 fs-5 text-primary"></i>
							Zeiterfassung
						</li>
						<li class="d-flex align-items-center text-dark text-opacity-75">
							<i class="bi bi-check-circle me-2 fs-5 text-primary"></i>
							Digitales Unterzeichnen von Angeboten
						</li>
					</ul>

					<div class="d-flex justify-content-start align-items-center">
						<div class="d-flex justify-content-center align-items-center flex-column">
							<a href="#" class="btn btn-lg btn-primary shadow-primary py-3 px-5 fs-3 mb-2">Jetzt anfragen</a>
							<small class="text-dark text-opacity-75">Kostenlos & unverbindlich</small>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="animate__animated animate__fadeIn d-none d-md-block">
						{{ source('@Website/homepage-hero-icon.svg') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="subline bg-success p-3">
	<div class="container">
		<div class="d-flex justify-content-center align-items-center">
			<div class="text-white fs-3"><strong>Verfügbar für</strong> alle Betriebsysteme, kein Speicherplatz nötig.</div>
		</div>
	</div>
</section>
