{% trans_default_domain 'websiteBundle' %}

<!-- https://unsplash.com/de/fotos/konstruktionsrahmen-P_qvsF7Yodw -->
<!-- https://unsplash.com/de/fotos/konstruktionsrahmen-P_qvsF7Yodw -->
<section class="jarallax bg-dark min-vh-100" data-jarallax data-speed="0.4" data-bs-theme="dark">
	<span class="position-absolute top-0 start-0 w-100 h-100 gradiant-bg" style=""></span>
	<div class="jarallax-img" style="opacity: 0.25; background-position: center center; background-size: cover; background-image: url({{ absolute_url(asset('bundles/website/assets/images/hero-image-1.jpg')) }});"></div>

	<div class="min-vh-100 d-flex flex-column py-5">

		<div class="container position-relative zindex-5 pt-5">
			<div class="row mt-5">
				<div class="col-md-6 mx-auto">
					<h1 class="display-1 mb-md-4 pb-3 text-white fs-2">30-50% höhere Effizienz</h1>
					<div class="d-flex justify-content-start align-items-start flex-column">
						<div class="d-flex justify-content-start align-items-center">
							<div class="text-white me-2" style="font-size: 50px;">EINFACH.</div>
							<div class="text-white" style="font-size: 50px;">DIGITAL.</div>
						</div>
						<div class="text-white" style="font-size: 50px;">ARBEITEN.</div>
					</div>
					<p class="text-body fs-5" style="max-width: 36.5rem;">
						Unsere optimierte Software ermöglicht die kinderleichte Digitalisierung von Bauprojekten und steigert die Effizienz im Unternehmen spürbar.
					</p>
					<a href="#" class="btn btn-lg btn-primary shadow-primary">Start your project</a>
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled d-flex align-items-start justify-content-center flex-wrap text-nowrap mt-xl-0 mt-md-n4 mt-sm-n3 mt-n2 ms-md-n4 ms-n3 mb-0 pt-lg-5 pt-md-4">
						<li class="d-flex align-items-center text-body mt-md-4 mt-sm-3 mt-2 ms-md-4 ms-3">
							<i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
							Extensive work experience
						</li>
						<li class="d-flex align-items-center text-body mt-md-4 mt-sm-3 mt-2 ms-md-4 ms-3">
							<i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
							Flexible working conditions
						</li>
						<li class="d-flex align-items-center text-body mt-md-4 mt-sm-3 mt-2 ms-md-4 ms-3">
							<i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
							Large and friendly team
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0" class="jarallax-container"><div class="jarallax-img" style="background-image: url(&quot;assets/img/landing/software-agency-2/hero-bg.png&quot;); object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 2560px; height: 746px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; margin-top: 0px; transform: translate3d(0px, 0px, 0px);" data-jarallax-original-styles="background-image: url(assets/img/landing/software-agency-2/hero-bg.png);"></div></div></section>
