{% trans_default_domain 'websiteBundle' %}

<!-- https://unsplash.com/de/fotos/konstruktionsrahmen-P_qvsF7Yodw -->
<!-- https://unsplash.com/de/fotos/konstruktionsrahmen-P_qvsF7Yodw -->
<section class="jarallax bg-dark min-vh-100" data-jarallax data-speed="0.4" data-bs-theme="dark">
	<span class="position-absolute top-0 start-0 w-100 h-100 gradiant-bg" style=""></span>
	<div class="jarallax-img" style="opacity: 0.25; background-position: center center; background-size: cover; background-image: url({{ absolute_url(asset('bundles/website/assets/images/hero-image-2.jpg')) }});"></div>

	<div class="min-vh-100 d-flex flex-column py-5">

		<div class="container position-relative zindex-5 pt-5">
			<div class="row mt-5">
				<div class="col-md-6 mx-auto">
					<h1 class="display-1 text-white opacity-75 fs-2"><strong>30-50%</strong> höhere Effizienz</h1>
					<div class="d-flex justify-content-start align-items-start flex-column">
						<div class="d-flex justify-content-start align-items-center">
							<div class="text-white me-2 animate__animated animate__zoomInUp hero-fade-element">EINFACH.</div>
							<div class="text-white animate__animated animate__zoomInUp animate__delay-1s hero-fade-element">DIGITAL.</div>
						</div>
						<div class="text-white animate__animated animate__zoomInUp animate__delay-2s hero-fade-element">ARBEITEN.</div>
					</div>
					<p class="fs-3 text-white" style="max-width: 36.5rem;">
						In Zusammenarbeit mit Branchenführern haben wir die umfangreichste Software für die Digitalisierung von Bauhaupt- und Nebengewerbe entwickelt.
					</p>
					<a href="#" class="btn btn-lg btn-primary shadow-primary py-3 px-5 fs-3">Start your project</a>
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled d-flex align-items-start justify-content-center flex-wrap text-nowrap mt-xl-0 mt-md-n4 mt-sm-n3 mt-n2 ms-md-n4 ms-n3 mb-0 pt-lg-5 pt-md-4">
						<li class="d-flex align-items-center text-body mt-md-4 mt-sm-3 mt-2 ms-md-4 ms-3">
							<i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
							Extensive work experience
						</li>
						<li class="d-flex align-items-center text-body mt-md-4 mt-sm-3 mt-2 ms-md-4 ms-3">
							<i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
							Flexible working conditions
						</li>
						<li class="d-flex align-items-center text-body mt-md-4 mt-sm-3 mt-2 ms-md-4 ms-3">
							<i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
							Large and friendly team
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
