{% trans_default_domain 'websiteBundle' %}

<section class="my-5 py-5">
	<div class="container">
		<div class="row d-flex justify-content-around align-items-center">
			<div class="col-sm-12 col-md-6 d-none d-md-flex">
				{{ source('@Website/svg/construction-team.svg') }}
			</div>

			<div class="col-sm-12 col-md-6 text-start">
				<h6>{{ "web.digiconstruct.industries.headline"|trans }}</h6>
				<h2 class="hero-fade-element text-primary animate__animated animate__flipInX">{{ "web.digiconstruct.industries.title"|trans }}</h2>
				<p class="text-muted">{{ "web.digiconstruct.industries.description"|trans }}</p>

			</div>
		</div>
	</div>
</section>
