{% trans_default_domain 'websiteBundle' %}

<section>
	<div class="container">
		<div class="d-flex justify-content-around align-items-center">
			<div class="w-50 text-center">
				<h6>{{ "web.digiconstruct.service.headline"|trans }}</h6>
				<h2 class="text-primary">{{ "web.digiconstruct.service.title"|trans }}</h2>
				<p class="text-muted">{{ "web.digiconstruct.service.description"|trans }}</p>
			</div>

			<div class="w-50 text-end">
				{{ source('svg/support.svg') }}
			</div>
		</div>
	</div>
</section>
